NODE_ENV=development
PORT=3005
DATABASE_URL=postgres://shop:shop@localhost:5436/payment_service
JWT_SECRET=AYita3rUDyhpMcCFV4Je3NC/g5hmwAA0DtIML3z7enQFYBsIb1HdG9WrL2GVgxJd
ORDER_SERVICE_URL=http://localhost:3004
STRIPE_SECRET_KEY=sk_test_ВСТАВ_СВІЙ
STRIPE_WEBHOOK_SECRET=whsec_ВСТАВ_СВІЙ